<?xml version="1.0" encoding="UTF-8"?>
<options>
	<sound>
		<master_volume>7</master_volume>
		<music_volume>8</music_volume>
		<sound_effects_volume>9</sound_effects_volume>
	</sound>
	<video>
		<field_of_view>120</field_of_view>
		<brightness>5</brightness>
	</video>
	<control>
		<mouse_sensitivity>201</mouse_sensitivity>
		<lock_mouse_to_window>0</lock_mouse_to_window>
	</control>
</options>
