body {
	height:100%;
	width:100%;
	background-color:#000000;
	text-align:center;
	margin:auto;
}
a {
	white-space:nowrap;
}
a:link {
	color:#990033;
	text-decoration: none;
}

a:visited {
	color:#990022;
	text-decoration: none;
}

a:hover {
	color:#ff0000;
	text-decoration: underline;
}

a:active {
	color:#ff0000;
	text-decoration: none;
}
#side_column {
	height:2000px;
	width:150px;
	background-color:#000011;
	display:inline-block;
	vertical-align:top;
}
#mid_column {
	height:2000px;
	width:auto;
	background-color:#888888;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	display:inline-block;
	vertical-align:top;
}
#header_picture {
	height:300px;
	width:1000px;
	background-color:#220022;
	color:#ff0000;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#nav_menu {
	height:50px;
	width:1000px;
	background-color:#000000;
	color:#ffffff;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#nav_menu > div {
	height:50px;
	width: 125px;
	color:#ffffff;
	text-align:center;
	border: 2px dashed red;
	display:inline-block;
}
#content {
	height:auto;
	width:100%;
	background-color:#bbbbbb;
	color:#000000;
	margin-left:auto;
	margin-right:auto;
	display:block;
} /* To make text not centered, surround with <div style="height:auto; width:100% text-align:left;"> </div> */
.wide {
	height:auto;
	width:100%;
	margin-bottom:20px;
}
